name: test
on:
  pull_request:
  push:
    branches:
      - 'main'
jobs:
  test_gittuf_installer_with_default_version:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Test gittuf installer with default version
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Install gittuf
        uses: ./
      - name: Verify install
        run: gittuf version
  test_gittuf_installer_with_specific_version:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Test gittuf installer with specific version
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Install gittuf
        uses: ./
        with:
          gittuf-version: '0.1.0'
      - name: Verify install
        run: gittuf version
  test_gittuf_installer_from_main_branch:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Test gittuf installer from main branch
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: '1.25'
      - name: Install gittuf
        uses: ./
        with:
          gittuf-version: 'main'
      - name: Verify install
        run: gittuf version
