name: test
on:
  pull_request:
  push:
    branches:
      - 'main'
jobs:
  test_gittuf_installer_with_default_version:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Test gittuf installer with default version
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install gittuf
        uses: ./
      - name: Verify install
        run: gittuf version
  test_gittuf_installer_with_specific_version:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Test gittuf installer with specific version
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Install gittuf
        uses: ./
        with:
          gittuf-version: '0.1.0'
      - name: Verify install
        run: gittuf version
  test_gittuf_installer_from_main_branch:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Test gittuf installer from main branch
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: '1.25'
      - name: Install gittuf
        uses: ./
        with:
          gittuf-version: 'main'
      - name: Verify install
        run: gittuf version
